.wrapper{
    display: flex;
    
}
.card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(224, 217, 217);

  
}
.one{
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;

}
.one p{
    font-size: 15px;
    opacity: 0.8;
}
.icon-de{
    font-size: 15px;
    color: #eee;
}

.underline{
    height: 50px;
    width: 100%;
    background: #FE5F55;
}
.icon-wrap{
    padding: 10px;
    background-color:  #FE5F55;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
}
.amount{
    border-bottom: 5px solid red;
    width: 40px;
    font-size: 32px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

 .wholewrapper{
    display: flex;
 }
 .analytics-wrapper{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  
    align-items: center;
 }
 .title{
    text-align: center;
    font-size: 24px;
 }
 .usage{
    padding: 40px 20px;
    background-color: #0D1282;
    margin-left: 20px;
    border-radius: 20px;
    
 }
.icon{
    font-size: 48px;
    color: white;
}
.inf{
    display: flex;
    align-items: center;
}
.inf h2{
    font-size: 32px;
    color: white;
}
.inf p{
    font-size: 12px;
    margin-left: 5px;
    color: gray;
}
.usage-cards{
    display: flex;
    justify-content: space-between;
}
.donought {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    padding: 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;

  }
  
  .donut-chart {
    position: relative;
   
      margin: 0 auto 2rem;
      border-radius: 100%
   }
  p.center {
    background: white;
    position: absolute;
    text-align: center;
  font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
      
      
  .portion-block {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .circle {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }
      
      
  #part1 {
      transform: rotate(0deg);
    }
  
      #part1 .circle {
          background-color: #E64C65;
          /*transform: rotate(76deg);*/
          animation: first 1s 1 forwards;
        }
      
      
  
  
  #part3 {
      transform: rotate(250deg);
  }
      
      
      
  /* Animation */
  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(100deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(150deg);}
  }
      
  @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(111deg);}
  }